<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %><br>

  <label>Post Description</label><br>
  <%= text_field_tag :'post[description]' %><br>

  <%= f.submit %>
<% end %>